.cancelButton {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
}

.cancelButton:hover {
    -fx-background-color: linear-gradient(#be1d00, #ff5400);
}

Button {
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.title {

}