/* Algemene opmaak voor elk scherm van de initialisatie vd providers*/
.radio-button {
    -fx-font-weight: bold;
    -fx-text-fill: #ffdb03;
}

.root {
    -fx-background-image: url("images/takeoff.jpg");
    -fx-background-size: cover;
}

.label {
    -fx-text-fill: #ffdb03;
}

